<section id="content" role="content" layout="column" layout-padding md-scroll-y>
    <md-content class="md-whiteframe-z2" ng-cloak>
        <md-list ng-repeat="list in data.content.lists">
            <div class="md-actions" layout layout-align="end center">
                <md-subheader class="md-no-sticky md-primary">{{list.name}}</md-subheader>
                <span flex></span>
                <md-menu md-position-mode="target-right target">
                    <md-button class="md-icon-button" aria-label="{{list.menu.name}}" ng-click="$mdOpenMenu($event)">
                        <md-icon class="md-primary">settings</md-icon>
                    </md-button>
                    <md-menu-content width={{list.menu.width}}>
                        <md-subheader>{{list.menu.name}}</md-subheader>
                        <md-menu-item ng-repeat="action in list.menu.actions">
                            <md-button layout-fill md-ink-ripple ng-click="toastList(action.message)">
                                <md-icon md-class="{{action.error ? 'md-warn' : 'md-primary'}}" md-menu-align-target>{{action.completed ? 'done' : 'hourglass_empty'}}</md-icon>
                                {{action.name}}
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
            <md-divider></md-divider>
            <md-list-item class="md-2-line" ng-repeat="item in list.items">
                <md-checkbox ng-click="toggle(item, selected)"></md-checkbox>
                <md-content class="md-list-item-text" layout="column">
                    <h3 class="md-body-2">{{item.name}}</h3>
                    <p class="md-caption">{{item.description}}</p>
                </md-content>
                <span flex></span>
                <md-icon aria-label="Show Item" ng-click="toast(item.link)">chevron_right</md-icon>
            </md-list-item>
        </md-list>
    </md-content>
</section>