@import url(http://fonts.googleapis.com/css?family=Roboto);
.master-header {
    height: 50px;
    top: 0; /* = 0 */
    left: 0; /* = 0 */
    width: 100%; /* = 100% */
    background-color: #F7F7F7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    font-family: roboto;
}

.sidebar-wrapper {
    width: 0px;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden; /* Scroll disabled */
    padding-top: 60px;
    background-color: #F7F7F7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    max-width: 70%;
}

#sidebar-close-id {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 32px;
}

.sidebar {
    padding-left: 20px;
    padding-right: 20px;
    color: #F7F7F7;
}

.sidebar-link {
    width: 100%;
    height: 40px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    color: #F7F7F7;
    background-color: #757575;
    margin: 8px 0px 8px 0px;
}

.sidebar-link .material-icons {
    padding: 4px 8px 4px 8px;
    font-size: 24px;
    color: #F7F7F7;

}

.sidebar-link .display-name {
    position: absolute;
    font-family: roboto;
    padding: 3px 8px 3px 8px;
    font-size: 20px;
    color: #F7F7F7;

}

.sidebar a:hover, .offcanvas a:focus {
}


.sidebar a {
    padding: 4px 4px 4px 4px;
    color: #757575;
    text-decoration: none;
    font-size: 24px;
    display: block;

}


#menu-id {
    top: 0;
    left: 0;
}

#menu-button-id {
    float: left;
    width: 50px;
    height: 50px;
    color: #757575;
    padding: 9px 9px 9px 9px;
    border: 0px;
}

#menu-button-id span{
    font-size: 32px;
}

#menu-button-id:hover {
    color: #4d90fe;
}

#user-menu-id {
    width: 50px;
    height: 50px;
    float: right;
    padding: 9px 9px 9px 9px;
    color: #757575;
}

#user-menu-id span{
    font-size: 32px;
}

#user-menu-id:hover {
    color: #4d90fe;
}

#menu-title-id {
    padding: 9px 9px 9px 9px;
    position: absolute;
    text-decoration: none;
    color: #757575;
    font-family: roboto;
    font-size: 22px;
}

.sidebar-button {
    background: transparent;
    border: none;
}

.sidebar a:hover, .offcanvas a:focus {
}

.dropdown-wrapper {

}





@media screen and (max-height: 650px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
    .sidebar .material-icons{font-size: 20px}
}

@media screen {

}