<script src="/js/Shiftswap_request.js"></script>
<link rel="stylesheet" href="/css/layout.css">

<div class="content" style="width: 99%">
    <h2>Ønsker om vaktbytte</h2>
    <table id="table_wantSwap" class="stripe hover" width="100%">
        <thead>
            <tr>
                <th>Dato:</th>
                <th>Vakttype:</th>
                <th>Brukernavn:</th>
                <th>Ansvarsvakt:</th>
                <th>Kategori:</th>
            </tr>
        </thead>
    </table>
    <br>
    <div class="pull-right">
        <button id="availableEmployees" type="button">Se ledige</button>
        <button id="avslaa" type="button">Avslå</button>
    </div>
    <br>
    <hr>
    <table id="availableEmployeesTable" class="table stripe hover" width="100%">
        <thead>
            <tr>
                <th>Fornavn:</th>
                <th>Etternavn:</th>
                <th>Telefon:</th>
                <th>Epost:</th>
                <th>Kategori:</th>
                <th>Brukernavn:</th>
            </tr>
        </thead>
    </table>
    <br>
    <div class="pull-right">
        <button id="change" type="button">Ok</button>
    </div>
</div>