<div class="content">
    <table class="table">
        <h2>Ønsker om vaktbytte</h2>
        <thead>
            <tr>
                <th>Navn:</th>
                <th>Stilling:</th>
                <th>Dato:</th>
                <th>Vakt;</th>
                <th>Vil bytte med:</th>
            </tr>
        </thead>
    </table>
    <br>
    <div class="pull-right">
        <button id="acceptSwapBtn" type="button">Godkjenn</button>
        <button id="denySwapBtn" type="button">Avslå</button>
    </div>
</div>