<script src="js/register_new_shift.js"></script>

<div class="content">
    <h2>Velg rolle: </h2>

    <button id="sykepleier"> Sykepleier </button>
    <button id="fag"> Fagarbeider </button>
    <button id="ass"> Assistent </button>

    <p id="regSuccess" style="color:green; display:none">Nytt skift ble registrert</p>

    <table id="role_table" class="table stripe hover" width="100%" style="display:none">
        <thead>
        <tr>
            <th>Etternavn</th>
            <th>Fornavn</th>
            <th>Stilling</th>
            <th>Bruker id</th>
        </tr>
        </thead>
    </table>
    <h3 id="info1" style="display:none">Velg en ansatt</h3>

    <br>
    <br>

    <div id="datediv" style="display:none">
        <form>
            Velg dato:
            <input id=datepick type="date" name="dato">
        </form>
        <br>
        <br>
        <select id="myselect">
            <option value="1">Nattevakt</option>
            <option value="2">Dagvakt</option>
            <option value="3">Aftenvakt</option>
        </select>
        <br>
        <br>
        <div id="ansvarsvakt">
            <form>
                <input id="ansvar" type="checkbox" name="ansvarsvakt" value="1">Merk dersom ansvarsvakt<br>
            </form>
        </div>
        <br>
        <br>
        <button id="nyVakt"> Registrer </button>
        <p id="regFail" style="color:red; display:none">Feil ved registrering</p>
        <p id="regDuplicate" style="color:red; display:none">Skift finnes allerede</p>

    </div>
</div>