<div class="md-toolbar-tools">
    <md-button class="md-fab md-mini" aria-label="Mini FAB" href="#/innstillinger">
        <md-icon>arrow_back</md-icon>
    </md-button>
    <span flex="5"></span>
    <h3 class="md-title">Endre passord</h3>
</div>

<md-input-container class="md-icon-float md-block">
    <input type="password" placeholder="Gammelt Passord">
</md-input-container>
<md-input-container class="md-icon-float md-block">
    <input type="password" placeholder="Nytt Passord">
</md-input-container>
<md-input-container class="md-icon-float md-block">
    <input type="password" placeholder="Bekreft Passord">
</md-input-container>

<div layout="row" layout-align="end center">
    <md-button class="md-fab" aria-label="FAB">
        <md-icon>check</md-icon>
    </md-button>
</div>
