<div class="md-toolbar-tools">
    <md-button class="md-fab md-mini" aria-label="Mini FAB" href="#/innstillinger">
        <md-icon>arrow_back</md-icon>
    </md-button>
    <span flex="5"></span>
    <h3 class="md-title">Endre passord</h3>
</div>

<md-input-container class="md-icon-float md-block">
    <input type="password" ng-model="oldpassword" placeholder="Gammelt Passord" required>
</md-input-container>
<md-input-container class="md-icon-float md-block">
    <input type="password" ng-model="newpassword" placeholder="Nytt Passord" required>
</md-input-container>
<md-input-container class="md-icon-float md-block">
    <input type="password" ng-model="newpasswordrepeat" placeholder="Bekreft Passord" required>
</md-input-container>

<span ng_show="passwordsMatch">Passordene må være like!</span>

<div layout="row" layout-align="end center">
    <md-button class="md-fab" ng-click="changePassword(oldpassword, newpassword, newpasswordrepeat)" aria-label="FAB">
        <md-icon>check</md-icon>
    </md-button>
</div>