<link rel="stylesheet" href="css/layout.css">
<link rel="stylesheet" href="css/timeliste.css">
<script src="js/timeliste.js?version=1.1"></script>

<div class="container">
    <hr>
    <div id="calendar"></div>
</div>

<!-- Shift Modal content -->
<div id="shiftModal" class="modal">
    <div class="modal-content">
        <span class="close" id="closeShift">&times;</span>
        <form>

            <div class="form-group">
                <h3 id="username_filler_shift"></h3>
            </div>
            <div class="form-group">
                <h4 id="date_shift"></h4>
            </div>
            <div class="form-group">
                <h4 id="time_shift"></h4>
            </div>
            <ul class="list-group" id="employeesOnShiftList"></ul>
            <div id="buttonsShift"></div>
        </form>
    </div>
</div>
